In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd 
import scipy as sp
from scipy.stats import chi2_contingency
from scipy.stats import chi2
import pandas_profiling as pp

In [2]:
column=["status","duration(month)","credit_history","purpose","credit_amount","saving_account","employment_since","installment_rate","status_sex","guarantors","residence_since","property","age","installment_plans","housing","credits","job","liable people","telephone","foreign_worker","label"]
data= pd.read_csv("german.data",sep=" ",names=column)

In [50]:
pp.ProfileReport(data)

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   â€¦

found a minor correlation between job and telephone

In [4]:
#making data copy and converting categorialm variables 
df=data.copy()

Applying chi square test of indepence between job and telephone 
(because data is old and telephones used to be expensive hence hypothesis that people with job more probable of having telephone)

hypothesis0: job and telephone independent 
hypothesis1: job and telephone not independent

creating contigency table

In [5]:
table = pd.DataFrame(columns=['A171', 'A172', 'A173', 'A174'], index=['A191', 'A192'])
table.loc['A191','A171']=len(data.query('telephone == "A191" and job=="A171"'))
table.loc['A191','A172']=len(data.query('telephone == "A191" and job=="A172"'))
table.loc['A191','A173']=len(data.query('telephone == "A191" and job=="A173"'))
table.loc['A191','A174']=len(data.query('telephone == "A191" and job=="A174"'))
table.loc['A192','A171']=len(data.query('telephone == "A192" and job=="A171"'))
table.loc['A192','A172']=len(data.query('telephone == "A192" and job=="A172"'))
table.loc['A192','A173']=len(data.query('telephone == "A192" and job=="A173"'))
table.loc['A192','A174']=len(data.query('telephone == "A192" and job=="A174"'))
print("contingency table: ")
table.head()

contingency table:

      A171  A172  A173  A174
A191    16   169   390    21
A192     6    31   240   127

In [6]:
stat, p, dof, expected = chi2_contingency(table)
print('dof=',dof,' p=',p,' stat=',stat) 
exp_obj = pd.DataFrame(expected,columns=['A171', 'A172', 'A173', 'A174'], index=['A191', 'A192'])
exp_obj

dof= 3  p= 4.82040879613156e-39  stat= 181.21496774978735

        A171   A172    A173    A174
A191  13.112  119.2  375.48  88.208
A192   8.888   80.8  254.52  59.792

In [7]:
critical = chi2.ppf(0.95, dof)
print('probability= 0.95, critical=%.3f, stat=%.3f' %( critical, stat))
if abs(stat) >= critical:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')
# interpret p-value
alpha = 1.0 - 0.95
print('significance=',alpha,'p=',p)
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

probability= 0.95, critical=7.815, stat=181.215
Dependent (reject H0)
significance= 0.050000000000000044 p= 4.82040879613156e-39
Dependent (reject H0)

hypothesis0: foreign worker and telephone independent 
hypothesis1: foreign worker and telephone not independent

creating contigency table

In [8]:
table = pd.DataFrame(index=['A201', 'A202'], columns=['A191', 'A192'])
table.loc['A201','A191']=len(data.query('telephone == "A191" and foreign_worker=="A201"'))
table.loc['A201','A192']=len(data.query('telephone == "A192" and foreign_worker=="A201"'))
table.loc['A202','A191']=len(data.query('telephone == "A191" and foreign_worker=="A202"'))
table.loc['A202','A192']=len(data.query('telephone == "A192" and foreign_worker=="A202"'))
print("contingency table: ")
table.head()

contingency table:

      A191  A192
A201   564   399
A202    32     5

In [9]:
stat, p, dof, expected = chi2_contingency(table)
print('dof=',dof,' p=',p,' stat=',stat) 
exp_obj = pd.DataFrame(expected,index=['A201', 'A202'], columns=['A191', 'A192'])
exp_obj

dof= 1  p= 0.0012570383590703323  stat= 10.404569922605399

         A191     A192
A201  573.948  389.052
A202   22.052   14.948

In [10]:
critical = chi2.ppf(0.95, dof)
print('probability= 0.95, critical=%.3f, stat=%.3f' %( critical, stat))
if abs(stat) >= critical:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')
# interpret p-value
alpha = 1.0 - 0.95
print('significance=',alpha,'p=',p)
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

probability= 0.95, critical=3.841, stat=10.405
Dependent (reject H0)
significance= 0.050000000000000044 p= 0.0012570383590703323
Dependent (reject H0)

hypothesis0: purpose and label independent 
hypothesis1: purpose and label not independent

In [11]:
table = pd.DataFrame(columns=['A40','A41','A42','A43','A44','A45','A46','A48','A49','A410'], index=['good', 'bad'])
table.loc['good','A40']=len(data.query('label == "1" and purpose=="A40"'))
table.loc['good','A41']=len(data.query('label == "1" and purpose=="A41"'))
table.loc['good','A42']=len(data.query('label == "1" and purpose=="A42"'))
table.loc['good','A43']=len(data.query('label == "1" and purpose=="A43"'))
table.loc['good','A44']=len(data.query('label == "1" and purpose=="A44"'))
table.loc['good','A45']=len(data.query('label == "1" and purpose=="A45"'))
table.loc['good','A46']=len(data.query('label == "1" and purpose=="A46"'))
# table.loc['good','A47']=len(data.query('label == "1" and purpose=="A47"'))
table.loc['good','A48']=len(data.query('label == "1" and purpose=="A48"'))
table.loc['good','A49']=len(data.query('label == "1" and purpose=="A49"'))
table.loc['good','A410']=len(data.query('label == "1" and purpose=="A410"'))
table.loc['bad','A40']=len(data.query('label == "2" and purpose=="A40"'))
table.loc['bad','A41']=len(data.query('label == "2" and purpose=="A41"'))
table.loc['bad','A42']=len(data.query('label == "2" and purpose=="A42"'))
table.loc['bad','A43']=len(data.query('label == "2" and purpose=="A43"'))
table.loc['bad','A44']=len(data.query('label == "2" and purpose=="A44"'))
table.loc['bad','A45']=len(data.query('label == "2" and purpose=="A45"'))
table.loc['bad','A46']=len(data.query('label == "2" and purpose=="A46"'))
# table.loc['bad','A47']=len(data.query('label == "2" and purpose=="A47"'))
table.loc['bad','A48']=len(data.query('label == "2" and purpose=="A48"'))
table.loc['bad','A49']=len(data.query('label == "2" and purpose=="A49"'))
table.loc['bad','A410']=len(data.query('label == "2" and purpose=="A410"'))
print("contingency table: ")
table.head()

contingency table:

      A40  A41  A42  A43  A44  A45  A46  A48  A49  A410
good  145   86  123  218    8   14   28    8   63     7
bad    89   17   58   62    4    8   22    1   34     5

In [12]:
stat, p, dof, expected = chi2_contingency(table)
print('dof=',dof,' p=',p,' stat=',stat) 
exp_obj = pd.DataFrame(expected,columns=['A40','A41','A42','A43','A44','A45','A46','A48','A49','A410'], index=['good', 'bad'])
exp_obj

dof= 9  p= 0.00011574910079691586  stat= 33.35644686141815

        A40   A41    A42    A43  A44   A45   A46  A48   A49  A410
good  163.8  72.1  126.7  196.0  8.4  15.4  35.0  6.3  67.9   8.4
bad    70.2  30.9   54.3   84.0  3.6   6.6  15.0  2.7  29.1   3.6

In [13]:
critical = chi2.ppf(0.95, dof)
print('probability= 0.95, critical=%.3f, stat=%.3f' %( critical, stat))
if abs(stat) >= critical:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')
# interpret p-value
alpha = 1.0 - 0.95
print('significance=',alpha,'p=',p)
if p <= alpha:
    print('Dependent (reject H0)')
else:
    print('Independent (fail to reject H0)')

probability= 0.95, critical=16.919, stat=33.356
Dependent (reject H0)
significance= 0.050000000000000044 p= 0.00011574910079691586
Dependent (reject H0)

encoding categorical variable to numeric values to apply model

In [15]:
df['status']=df['status'].replace(['A11','A12','A13','A14'],[1,2,3,4])
df['credit_history']=df['credit_history'].replace(['A30','A31','A32','A33','A34'],[0,1,2,3,4])
df['purpose']=df['purpose'].replace(['A40','A41','A42','A43','A44','A45','A46','A47','A48','A49','A410'],[1,2,3,4,5,6,7,8,9,10,11])
df['saving_account']=df['saving_account'].replace(['A61','A62','A63','A64','A65'],[1,2,3,4,5])
df['employment_since']=df['employment_since'].replace(['A71','A72','A73','A74','A75'],[1,2,3,4,5])
df['status_sex']=df['status_sex'].replace(['A91','A92','A93','A94','A95'],[1,2,3,4,5])
df['guarantors']=df['guarantors'].replace(['A101','A102','A103'],[1,2,3])
df['property']=df['property'].replace(['A121','A122','A123','A124'],[1,2,3,4])
df['installment_plans']=df['installment_plans'].replace(['A141','A142','A143'],[1,2,3])
df['housing']=df['housing'].replace(['A151','A152','A153'],[1,2,3])
df['foreign_worker']=df['foreign_worker'].replace(['A201','A202'],[1,2])
df['telephone']=df['telephone'].replace(['A191','A192'],[1,2])
df['job']=df['job'].replace(['A171','A172','A173','A174'],[1,2,3,4])

In [16]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

# Decision tree model on all features

In [83]:
F=df.loc[:,:'foreign_worker']
L=df['label']

In [89]:
from sklearn.model_selection import KFold 
from sklearn.model_selection import RepeatedKFold
kf = RepeatedKFold(n_splits=5, n_repeats=10, random_state=None) 

for train_index, test_index in kf.split(F):
#       print("Train:", train_index, "Validation:",test_index)
      F_train, F_test = X[train_index], X[test_index] 
      L_train, L_test = y[train_index], y[test_index]

In [90]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf = clf.fit(F_train, L_train)

In [91]:
l_pred=clf.predict(F_test)

In [92]:
from sklearn.metrics import accuracy_score
accuracy_score(L_test, l_pred)

accuracy_score(L_test, l_pred, normalize=True)

0.69

# decision tree on 10 selected features

In [17]:
X=df.loc[:,:'foreign_worker']
y=df['label']
# print(X)

feature selection done using chi square test of significance 
10 most features selected

In [93]:
chi2_selector = SelectKBest(chi2, k=10)
X_kbest = chi2_selector.fit_transform(X, y)

In [19]:
X_kbest[0:5][:]

array([[1, 6, 4, 1169, 5, 5, 4, 1, 67, 3],
       [2, 48, 2, 5951, 1, 3, 2, 1, 22, 3],
       [4, 12, 4, 2096, 1, 4, 2, 1, 49, 3],
       [1, 42, 2, 7882, 1, 4, 2, 2, 45, 3],
       [1, 24, 3, 4870, 1, 3, 3, 4, 53, 3]], dtype=object)

In [75]:
X=X_kbest.astype(int)
y=df['label'].to_numpy()

In [76]:
from sklearn.model_selection import KFold 
from sklearn.model_selection import RepeatedKFold
kf = RepeatedKFold(n_splits=5, n_repeats=10, random_state=None) 

for train_index, test_index in kf.split(X):
#       print("Train:", train_index, "Validation:",test_index)
      X_train, X_test = X[train_index], X[test_index] 
      y_train, y_test = y[train_index], y[test_index]

In [77]:
from sklearn import tree
y_train=y_train.astype(int)
X_train=X_train.astype(int)
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)

In [78]:
X_test.shape
y_test=y_test.astype(int)
X_test=X_test.astype(int)
y_pred=clf.predict(X_test)

In [79]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

accuracy_score(y_test, y_pred, normalize=True)

0.7